echo "# SeaBeesFirstLanding" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/BrokenArrow72/SeaBeesFirstLanding.git
git push -u origin main
